

body {
    background-color: #78c2e4;
}


.navbar { 
    flex-wrap: nowrap !important;
}

h4 {
    color: rgb(102, 102, 102);

}


/* below is stying for StatisticsToolbox.HTML */

.text-center {
    font-size: 30px;

}
