h4 {
    background-color: lightseagreen;
    color: navy;
}


    /* resizing slideshow */
#heroCarousel .carousel-item img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

#heroCarousel img {
  display: block;
}

#heroCarousel {
  height: 350px;
  overflow: hidden;
}

#heroCarousel .carousel-item {
  height: 350px;
}

.carousel-item {
  transition: transform 0.8s ease-in-out;
}


    /* 3 images and their precision */
#QuarryExcavator {
  object-position: center top;
}

#SmallWaterWeir {
  object-position: center 1%;
}

#SurfFishing {
    object-position: bottom;
}

    /* overlaying caption over images */
#heroCarousel {
  position: relative;
}

.hero-overlay {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}



    /* container left + right */
.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* equal width */
  gap: 40px;
  align-items: start;
}

    /* jumbotron */
.jumbotron {
  width: 100%;
  min-height: 500px;
}

.freecad-btn {
  color:rgb(221, 161, 161);
}

.freecad-btn:hover {
  color:rgb(236, 127, 154) 
}

    /* album grid (2x2) */
.album-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

    /* album icons */
.album-card {
  width: 100%;
  height: 200px;
  overflow: hidden;

  transform: perspective(1000px) rotateY(-10deg) rotateX(5deg);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.album-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-card:hover {
  transform: perspective(1000px) rotateY(0deg) rotateX(0deg) scale(1.05);
}

