h4 {
    background-color: lightseagreen;
    color: navy;
}


    /* resizing slideshow */
#heroCarousel .carousel-item img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

#heroCarousel img {
  display: block;
}

#heroCarousel {
  height: 350px;
  overflow: hidden;
}

#heroCarousel .carousel-item {
  height: 350px;
}

.carousel-item {
  transition: transform 0.8s ease-in-out;
}


    /* 3 images and their precision */
#QuarryExcavator {
  object-position: center top;
}

#SmallWaterWeir {
  object-position: center 1%;
}

#SurfFishing {
    object-position: bottom;
}

    /* overlaying caption over images */
#heroCarousel {
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}


.jumbotron {
  width: 500px;
  height: 500px;
}


/* This is stying/animation for the album icons */
.album-container {
  position: fixed;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
}

.album-card {
  width: 250px;
  height: 220px;
  
  transform: perspective(1000px) rotateY(-10deg) rotateX(5deg);
  transition: transform 0.3s ease;
  cursor: pointer;
}


.album-card:hover {
  transform: perspective(1000px) rotateY(0deg) rotateX(0deg) scale(1.05);
}